<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Action Set Label"
            description="Action Set Description"
            visible="true"
            id="org.ita.neutrino.actionset.id">
            <menu
				label="Test Refactorings"
				id="org.ita.neutrino.menu">
				<separator
					name="junit4">
				</separator>
				<separator
					name="junit3">
				</separator>
				<separator
					name="testGroup1">
				</separator>
			</menu>

         <action
               label="JUnit 4 - Add explanation to assertion"
               menubarPath="org.ita.neutrino.menu/junit4"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.addexplanation.AddExplanationJUnit4">
         </action>
         <action
               label="JUnit 3 - Add explanation to assertion"
               menubarPath="org.ita.neutrino.menu/junit3"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.addexplanation.AddExplanationJUnit3">
         </action>
         <!-- Fazer depois
         <action
               label="Extract initialization method"
               menubarPath="org.ita.neutrino.menu/mainGroup1"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.extractinitializationmethod.Action">
         </action-->
         <action
               label="Run JUnits"
               menubarPath="org.ita.neutrino.menu/testGroup1"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.tests.JUnitMain">
         </action>
      </actionSet>
   </extension>
</plugin>
