<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Action Set Label"
            description="Action Set Description"
            visible="true"
            id="org.ita.neutrino.actionset.id">
            <menu
				label="Test Refactorings"
				id="org.ita.neutrino.menu">
				<separator
					name="refactorings">
				</separator>
				<separator
					name="testGroup1">
				</separator>
			</menu>
          
         <action
               label="Split Incrementals"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.splitincrementaltests.SplitIncrementalTestsAction">
         </action>
         <action
               label="Input Initialization"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.inputinitialization.InputInitializationAction">
         </action>
         <action
               label="Input Finalization"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.inputfinalization.InputFinalizationAction">
         </action>
         <action
               label="Group Incremental Tests"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.groupincrementaltests.GroupIncrementalTestsAction">
         </action>
         <action
               label="Extract Initialization Method"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.extractinitializationmethod.ExtractInitializationMethodAction">
         </action>
         <action
               label="Extract Finalization Method"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.extractfinalizationmethod.ExtractFinalizationMethodAction">
         </action>
         <action
               label="Decompose Assertion"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.decomposeassertion.DecomposeAssertionAction">
         </action>
         <action
               label="Add Fixture Method"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.addfixture.AddFixtureAction">
         </action>
         <action
               label="Add explanation to assertion"
               menubarPath="org.ita.neutrino.menu/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.addexplanation.AddExplanationAction">
         </action>
         
         <action
               label="Run JUnits"
               menubarPath="org.ita.neutrino.menu/testGroup1"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.tests.JUnitMain">
         </action>
         
         
      <action
          label="Detect smells automatically"
          menubarPath="org.ita.neutrino.menu/testsmells"
          class="org.ita.neutrino.testsmells.ActionController"
          style="toggle"
          state="false"
          id="org.ita.neutrino.testsmells.ToggleNature" />
      <action
           label="(Re)run smell detection"
           menubarPath="org.ita.neutrino.menu/testsmells"
           class="org.ita.neutrino.testsmells.ActionController"
           id="org.ita.neutrino.testsmells.RunDetection" />
      </actionSet>
   </extension>
   
  <extension
    id="org.ita.neutrino.testsmells.TestSmellDetectionBuilder"
    name="Test Smell Detection Builder"
    point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="org.ita.neutrino.testsmells.TestSmellDetectionBuilder">
      </run>
    </builder>
  </extension>
  <extension
        id="org.ita.neutrino.testsmells.TestSmellDetectionNature"
        name="Test Smell Detection Nature"
        point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.ita.neutrino.testsmells.TestSmellDetectionNature">
      </run>
    </runtime>
    <builder id="org.ita.neutrino.testsmells.TestSmellDetectionBuilder">
    </builder>
  </extension>
  <extension
        id="org.ita.neutrino.testsmells.marker"
        name="Test code smell"
        point="org.eclipse.core.resources.markers">
    <persistent value="true" />
    <super type="org.eclipse.core.resources.problemmarker" />
    <attribute name="smellType" />
  </extension>
  <extension
        id="org.ita.plugins.testsmells.markerresolutionextension"
        name="Quick Fixes for Test Code Smells"
        point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
       markerType="org.ita.neutrino.testsmells.marker"
       class="org.ita.neutrino.testsmells.QuickFixGenerator" />
  </extension>
   
  
    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="refatoringTest"
            objectClass="org.eclipse.ui.IEditorInput">
         <menu
               id="Test Refactorings"
               label="Test Refactorings">
            <separator name="Test Class Refactorings"/>
         </menu>
         
         <action
               label="Split Incrementals"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.splitincrementaltests.SplitIncrementalTestsAction">
         </action>
         <action
               label="Input Initialization"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.inputinitialization.InputInitializationAction">
         </action>
         <action
               label="Input Finalization"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.inputfinalization.InputFinalizationAction">
         </action>
         <action
               label="Group Incremental Tests"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.groupincrementaltests.GroupIncrementalTestsAction">
         </action>     
         <action
               label="Extract Initialization Method"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.extractinitializationmethod.ExtractInitializationMethodAction">
         </action>
         <action
               label="Extract Finalization Method"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.extractfinalizationmethod.ExtractFinalizationMethodAction">
         </action>        
         <action
               label="Decompose Assertion"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.decomposeassertion.DecomposeAssertionAction">
         </action>       
         <action
               label="Add Fixture Method"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.addfixture.AddFixtureAction">
         </action>
         <action
               label="Add explanation to assertion"
               menubarPath="Test Refactorings/refactorings"
               class="org.ita.neutrino.eclipseaction.ActionController"
               id="org.ita.neutrino.addexplanation.AddExplanationAction">
         </action>                  
      </objectContribution>
   </extension>
    <extension
          id="ITANeutrinoProduct"
          point="org.eclipse.core.runtime.products">
       <product
             application="MenuContribution.application"
             name="NeutrinoDeploy">
          <property
                name="appName"
                value="NeutrinoDeploy">
          </property>
       </product>
    </extension>
</plugin>
